<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>First Angular Project</title>
  <link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body ng-app="app">
  <div>
    <div ng-controller="ImageViewerController">
      <div class="imageContainer" ng-show="imageSrc">
        <img ng-src="{{imageSrc}}" title="{{imageTitle}}" alt="{{imageTitle}}" />
      </div>
      <div class="controls">
        <input type="text" ng-model="tag" />
        <button ng-click="randomize()">Randomize</button>
      </div>
    </div>
  </div>
  <script src="https://code.angularjs.org/snapshot/angular.min.js"></script>
  <script src="env.js"></script>
  <script src="app.js"></script>
  <script src="image-viewer.controller.js"></script>
  <script src="giphy.service.js"></script>
</body>

</html>