.jeopardy-question {
  height: 70vh;
  margin: 25px auto;
  width: 80%;
}

.jeopardy-question .question-text {
  align-items: center;
  display: flex;
  height: 30%;
  justify-content: center;
  margin: 25px auto;
}

.jeopardy-question .answer-text {
  margin: 50px auto;
}
